{% extends "adminbase.html" %}
{% block content %}

<h2 align="center">Add Events and Event Stages</h2>

<h3>Adding a New Event Stage on Event {{eventname[0]}}</h3>
<form action="/admin/eventstage/add" method="Post">
    
    New Event Stage:  
    <input type="text" name="StageName" placeholder="Stage Name" required/>
    <input type="text" name="EventID" value="{{eventid}}" readonly/>
    <input type="text" name="Location" placeholder="Location" required/>
    <input type="date" name="StageDate" placeholder="Stage Date(yyyy-mm-dd)" required/>
    <select name="Qualifying" id="Qualifying">
        <option value="0">Not Qualifying</option>
        <option value="1">Qualifying</option>
    </select>    
     <input type="text" name="PointsToQualify" placeholder="Points to Qualifying"/>
     <button type ="submit">Add</button>
 </form>

 
{% endblock %}