{% extends "adminbase.html" %}
{% block content %}
<!--this is how to comment-->
<h2>Add/Edit Member</h2>

<h3>Add a New Member</h3>

<p>Please fill the form then press the add button</p>

<form action="/admin/member/add" method="Post">
    
   New Member:  
                <select name="TeamID" id="teamid">
                    {% for team in teamlist%}
                    <option value="{{team[0]}}">Team ID--{{team[1]}}({{team[0]}})</option>
                    {% endfor%}
                </select>    
                <input type="text" name="FirstName" placeholder="First Name"/>
                <input type="text" name="LastName" placeholder="Last Name"/>
                <input type="text" name="City" placeholder="City"/>
                <input type="date" name="Birthdate" placeholder="Birthday"/>
    <button type ="submit">Add</button>
</form>

<h3>Edit an Exsiting Member</h3>

<p>Please choose a member from the list to edit</p>

<table class="table table-striped table-hover">
    <th>Edit</th><th>Member ID</th><th>Team ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthday</th>
    {% for member in memberlist %}
        <tr>
            <td><a href="/admin/member/edit/{{member[0]}}">Edit</a>
            
            </td>
        {% for entry in member %}
            <td>{{entry}}</td>
        {% endfor %}    
        </tr>
    {% endfor %}
</table>




{% endblock %}