{% extends "adminbase.html" %}
{% block content %}

<h2 align="center">Add Events and Event Stages</h2>

<h3>Add a New Event</h3>
<form action="/event/add"  method="Post">
    New Event: <input type="text" name="EventID" placeholder="Event ID">
               <input type="text" name="EventName" placeholder="Event Name">
               <select name="Sport" id="Sport">
                {% for event in eventlist %}
                <option value="{{event[2]}}">Sport {{event[2]}}</option>
                {% endfor %}
               </select>
               <select name="TeamID" id="TeamID">
                {% for event in eventlist %}
                <option value="{{event[3]}}">Team ID {{event[3]}}</option>
                {% endfor %}
               </select>
               <button type ="submit">Add</button>
</form>

<h3>A list of all NZ Olympic Events</h3>

<table class="table table-striped table-hover">
    <tr><th>Add a New Event Stages</th><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team ID</th></tr>
    {% for event in eventlist %}
        <tr>
            <td><a href="/eventstage/add/{{event[0]}}">Add</a>
                </td>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}