{% extends "adminbase.html" %}
{% block content %}

<h2 align="center">Add Scores or Positions</h2>

Please choose the event that you would like to add a score to:
<!--Get eventid from user to identify where the score is adding to-->
<form action="/admin/addscores/event" method="POST">
    <!--eventid and eventname in dropdown list to choose-->
        <select name="EventID" id="eventid">
            {% for event in eventlist %}
            <option value="{{event[0]}}">{{event[1]}} ({{event[2]}})</option>
            {% endfor %}
        </select>   
        <button type="submit">Submit</button>
    </form>

{% endblock %}