{% extends "adminbase.html" %}
{% block content %}

<h2 align="center">Add Scores or Positions</h2>

<form action="/admin/addscores/update" method="Post">
    
    Add a new score:  
        <label for="StageID">Stage ID (Read Only)</label>
        <input type="text" name="StageID" value="{{stageid}}"/>
        <label for="MemberID">Member ID</label>
        <select name="MemberID" id="MemberID">
            {% for member in memberid%}
            <option value="{{member[0]}}">{{member[0]}}</option>
            {% endfor%}
        </select>  
        <lable for="PointsScored">Points Scored</lable>
        <input type="number" step="0.01" name="PointsScored"/>  
        {% if stagename[0] == 'Final' %}
        <Label for="Postion">Position</Label>
        <select name="Position" id="Position">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        {% else %} 
        {% endif %}
     <button type ="submit">Add</button>
 </form>

{% endblock %}