{% extends "base.html" %}
{% block content %}

<h1 aligh="left"> {{details[0][0]+' '+details[0][1]}} </h1>

<h2 aligh="left">Upcoming Event and Stages</h2>

{% for row in details %}
    {% if row[9] is none %}
    {{row[3]}}
    <table class="table table-striped table-hover">
        <tr>
            <td>{{row[4]}}</td><td>{{row[5]}}</td><td>{{row[6]}}</td>
        </tr>
    </table>
    {% else %}
    <p> </p>
    {% endif %}   

{% endfor %}
<p>There is currently no upcoming event or event stage for this athlete.</p>

<h2 aligh="left">Previous Results</h2>

{% for row in details %}
{% if row[9] is not none %}
{{row[3]}}
<table class="table table-striped table-hover">
    <tr>
        <td>{{row[4]}}</td><td>{{row[5]}}</td><td>{{row[6]}}</td>
            {% if row[7]== 1 %}
                <td>Qualifying</td>
            {% else %}
                {% if row[8]==1 %}
                    <td>Gold</td>
                {% elif row[8]==2 %}
                    <td>Sliver</td>
                {% elif row[8]==3 %}
                    <td>Bronze</td>
                {% else %}
                    <td>{{' '}}</td>
                {% endif %}
            {% endif %}     
    </tr>
</table>
{% else %}
<p> </p>
{% endif %}
{% endfor %}

{% endblock %}