{% extends "adminbase.html" %}
{% block content %}
<!--this is how to comment-->
<h3>Edit an Exsiting Member</h3>

<p>This is the member you are editing </p>
<table class="table table-striped table-hover">
    <tr> <th>Member ID</th><th>Team ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthday</th></tr>
        {% for entry in memberediting %}
      
            <td>{{entry}}</td>
        {% endfor %}
</table>
<p>Please edit the coresponding area and press submit</p>

<form action="/admin/updatemember" method="POST">
    <label for="MemberID">Member ID(read_only)</label>
    <input type="text" value="{{memberediting[0]}}" name="MemberID" readonly/>
    <label for="TeamID">Team ID</label>
    <select name="TeamID" id="teamid" name="TeamID">
        {% for team in teamlist%}
        <option value="{{team[0]}}">{{team[1]}}({{team[0]}})</option>
        {% endfor %}
    </select>    
    <label for="FirstName">First Name</label>
    <input type="text" value="{{memberediting[2]}}" name="FirstName"/>
    <label for="LastName">Last Name</label>
    <input type="text" value="{{memberediting[3]}}" name="LastName"/>
    <label for="City">City</label>
    <input type="text" value="{{memberediting[4]}}" name="City"/>
    <label for="Birthdate">Birthday</label>
    <input type="text" value="{{memberediting[5]}}" name="Birthdate"/>
    <input type="submit"/> 
</form>
{% endblock %}