{% extends "adminbase.html" %}
{% block content %}
<!--this is how to comment-->
<h3>Edit an Exsiting Member</h3>

<p>This is the member you are editing </p>
<table class="table table-striped table-hover">
    <tr> <th>Member ID</th><th>Team ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthday</th></tr>
        {% for entry in membereditting %}
      
            <td>{{entry}}</td>
        {% endfor %}
</table>
<p>Please edit the coresponding area and press submit</p>

<form action="/updatemember" method="POST">
    <label for="MemberID">Member ID(read_only)</label>
    <input type="text" value="{{membereditting[0]}}" name="MemberID" readonly/>
    <label for="TeamID">Team ID</label>
    <select name="TeamID" id="teamid" name="TeamID">
        <option value="101">Snowboard (101)</option>
        <option value="102">Alpine Skiing (102)</option>
        <option value="103">Freestyle Skiing (103)</option>
        <option value="123">Biathlon (123)</option>
        <option value="125">Speed Skating (125)</option>
    </select>    
    <label for="FirstName">First Name</label>
    <input type="text" value="{{membereditting[2]}}" name="FirstName"/>
    <label for="LastName">Last Name</label>
    <input type="text" value="{{membereditting[3]}}" name="LastName"/>
    <label for="City">City</label>
    <input type="text" value="{{membereditting[4]}}" name="City"/>
    <label for="Birthdate">Birthday</label>
    <input type="text" value="{{membereditting[5]}}" name="Birthdate"/>
    <input type="submit"/> 
</form>
{% endblock %}