{% extends "adminbase.html" %}
{% block content %}
<!-- code in here to search->
<!-- db is the variable passed in searching -->
<h2>Search Members</h2>
<h3>Search all of the Members</h3>

<form action="/search/result_member" method="Post">
    Search Member: <input type="text" name="membersearch"/>
    <input type="submit" value="Search">
</form>

<table>
    <tr><th>Name</th><th>Member ID</th><th>Team Name</th><th>City</th><th>Birthday</th></tr>
    {% for member in memberlist %}
    {% set name = member[0]|string + " " + member[1]|string %}
    <tr>
        <td>{{name}}</td><td>{{member[2]}}</td><td>{{member[3]}}</td><td>{{member[4]}}</td><td>{{member[5]}}</td>
    </tr>
    {% endfor %}  
</table>

<h2>Search Events</h2>
<h3>Search all of the Events</h3>
<form action="/search/result_event" method="Post">
    Search Member: <input type="text" name="eventsearch"/>
    <input type="submit" value="Search">
</form>

<table>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team ID</th></tr>
    {% for event in eventlist %}
        <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}